#root {
  margin: 0 auto;
  text-align: center;
}
.header {
  background-color: black;
  color: white;
  height: 15vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.messages {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #242424;
  color: white;
}

.messages pre {
  font-size: 1.5rem;
  line-height: 2rem;
}

.chat {
  background-color: black;
  height: 5vh;
  padding: 1rem;
}

.chat input{
  height: 25px;
  width: 30rem;
}

.chat button {
  height: 30px;
  margin-left: 10px;
}
